  <nav>
    <div class="nav-wrapper pink">
      <a href="/" class="brand-logo center">Scrape The News</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/StefanieDing/scrape-the-news" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>